body
{
	background: url( ../images/bg.jpg ) #000 top no-repeat !important;
}

a
{
	color: #4e3b26;
	text-decoration: none;
}

a:hover
{
	color: #4e3b26;
	text-shadow: 0 0 3px yellow;
}

h1
{
	color: #4e3b26;
	font-style: italic;
}

h1.position
{
	font-style: normal;
	width: 375px;
	float:left;
	font-size: 26px;
	font-weight: bolder;
	padding-left:85px;
}

.container
{
	background: url( ../images/container-bg.jpg ) no-repeat #e9ddbf;
	background-position: 0px 285px;
	height: 100%;
}

.inner-content
{
	width: 920px;
	padding: 0px 20px;
	margin-top: -30px;
}

.header-top
{
	background: url( ../images/steam-top.jpg ) no-repeat;
	height: 286px;
}

.header-bottom
{
	background: url( ../images/steam-bottom.png ) no-repeat;
	height: 113px;
	padding: 20px 20px 0px 20px;
}

.footer
{
	background: url( ../images/footer.jpg ) no-repeat;
	height: 102px;
	color: yellow;
	text-align: center;
	padding-top: 20px;
	font-style: italic;
	margin-bottom: -20px;
}

.footer a
{
	color: #daa520;
	text-decoration: none;
}

.footer a:hover
{
	text-shadow: 0 0 1em yellow;
}

.clear
{
	clear: both;
}

.float-right
{
	float: right;
}

.top-date
{
	color: #4e3b26;
	font-size: 16px;
	font-style: italic;
	letter-spacing: 3px;
	text-align: right;
}

.job-row
{
	background: url( ../images/row.png  ) no-repeat;
	width: 699px;
	height: 109px;
	margin-bottom: 5px;
	color: #4e3b26;
	padding: 5px 0px;
}

.job-row-date-column
{
	width: 119px;
	text-align:center;
	color: #c9b69a;
	padding: 35px 0px 0px 5px;
	font-weight: bolder;
}

.job-row-date-column-date
{
	font-size: 16px;
}

.job-row-content-column
{
	float:right;
	width: 530px;
	margin: -63px 45px 0px 0px;
	padding-right: 5px;
	height: 87px;
}

.job-row-icon-column
{
	width: 45px;
	height: 87px;
	float:left;
}

.job-row-position
{
	width: 485px;
	font-size: 18px;
	font-weight: bolder;
	letter-spacing: 2px;
	margin-left: 45px;
	margin-top: 2px;
	overflow: hidden;
	height: 42px;
}

.job-row-job-type
{
	font-size: 10px;
}

.job-row-company
{
	font-weight: bolder;
	margin-left: 45px;
	margin-top: -20px;
	height: 35px;
	line-height: 20px;
	font-size: 14px;
}

.weight-normal
{
	font-weight: normal;
}

.italic
{
	font-style: italic;
}

.list-view .summary
{
	display: none;
}

.form label
{
	color: #4e3b26;
	font-size: 26px !important;
	float: left;
	width: 200px;
}

.required
{
	float: static;
}

#job-form input
{
	color: #4e3b26;
	height: 30px;
	font-size: 14px;
	padding: 3px;
	letter-spacing: 1px;
}

input[type='checkbox']
{
	margin: 2px 2px 2px 2px; border: 0px;
	vertical-align: middle;
}

input[type='textarea']
{
	float: static;
}

.note
{
	color: #777;
}

.box-jobpost p
{
	font-size: 16px;
	line-height: 24px;
	margin-top: 10px;
}

.box-jobpost a
{
	font-weight: bolder;
}

.postbutton
{
	width: 100px;
	padding: 10px;
	font-size: 16px;
	color: #e8ddbf;
	background-color: #4e3b26;
}

.big-logo
{
	float:right;
}

.info-label
{
	float:left;
	width: 100px;
	font-weight: bolder;
}

.job-info
{
	line-height: 25px;
	font-size: 16px;
	margin-left: 100px;
}

.job-description
{
	padding: 10px;
}

.inner-inner
{
	background: url( ../images/inner-pages-bg.png ) no-repeat;
	padding: 10px 0px 0px 10px;
	font-size: 14px;
}
